* {
    background: black;
    font-family: Verdana;
}

h1 {
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

h2 {
    font-weight: 300;
    font-size: 42px;
    color: white;
    text-align: center;
}

p {
    font-size: 21px;
    color: gray;
    text-align: center;
}

.call-out {
    font-size: 16px;
    color: aquamarine;
    text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0 10px 0;
  width: 75%;
  height: auto;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0 10px 0;
    width: 5%;
    height: auto;
  }

video {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer p {
    text-align: right;
}